<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <script src="../bootstrap/js/bootstrap.bundle.js"></script>
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg pt-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              contact
            </a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div>
    <div class="page-header">
      <h2 itemprop="name">
        K.KARUNAKARAN MEMORIAL MODEL POLYTECHNIC COLLEGE MALA </h2>
    </div>


    <div class="jsn-article-toolbar">
      <div class="clearfix"></div>
    </div>



    <div class="articleBody" itemprop="articleBody">
      <p> </p>
      <div align="center">
        <table style="width: 600px; border-color: #d9d4d4; margin-left: auto; margin-right: auto;" border="0"
          cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="4" valign="top" width="275">
                <p data-uw-styling-context="true">The Principal,<br /> K.Karunakaran Memorial <br /> Model Polytechnic
                  College Mala, <br /> Kallettumkara P.O., Mala, <br /> Thrissur District. Pin – 680 683<br /> <br />
                  Phone : 0480-2720746<br /> Mobile : 8547005080<br /> Email : <span
                    style="text-decoration: underline;"><span id="cloakd14c0b09a0bfd98d8587b71d4bb1d7ba">This email
                      address is being protected from spambots. You need JavaScript enabled to view it.</span>
                    <script type='text/javascript'>
                      document.getElementById('cloakd14c0b09a0bfd98d8587b71d4bb1d7ba').innerHTML = '';
                      var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                      var path = 'hr' + 'ef' + '=';
                      var addyd14c0b09a0bfd98d8587b71d4bb1d7ba = 'mptm&#97;l&#97;' + '&#64;';
                      addyd14c0b09a0bfd98d8587b71d4bb1d7ba = addyd14c0b09a0bfd98d8587b71d4bb1d7ba + '&#105;hrd' + '&#46;' + '&#97;c' + '&#46;' + '&#105;n';
                      var addy_textd14c0b09a0bfd98d8587b71d4bb1d7ba = 'mptm&#97;l&#97;' + '&#64;' + '&#105;hrd' + '&#46;' + '&#97;c' + '&#46;' + '&#105;n'; document.getElementById('cloakd14c0b09a0bfd98d8587b71d4bb1d7ba').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyd14c0b09a0bfd98d8587b71d4bb1d7ba + '\' data-uw-styling-context="true">' + addy_textd14c0b09a0bfd98d8587b71d4bb1d7ba + '<\/a>';
                    </script>
                  </span><br /> website : <a href="http://mptmala.ihrd.ac.in" target="_blank" rel="noopener noreferrer"
                    data-uw-styling-context="true">mptmala.ihrd.ac.in</a></p>
              </td>
              <td style="border-color: #d9d4d4;" colspan="2" valign="top" width="311">
                <p> </p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="6" valign="top" width="586">
                <p> </p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="6" valign="top" width="586">
                <p style="text-align: justify;" data-uw-styling-context="true">Model Polytechnic College Mala is
                  established in 1993, offers 3 year regular diploma courses in Electronics Engineering, Computer
                  Hardware Engineering, Bio-Medical Engineering &amp; Computer Engineering affiliated to Board of
                  Technical Education, Kerala.</p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="6" valign="top" width="586">
                <p> </p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" rowspan="2" valign="top" width="146">
                <p><strong data-uw-styling-context="true">Courses Offered</strong></p>
              </td>
              <td style="border-color: #d9d4d4;" colspan="4" valign="top" width="333">
                <p><strong data-uw-styling-context="true"> Electronics Engineering </strong></p>
              </td>
              <td style="border-color: #d9d4d4;" valign="top" width="107">
                <p><strong data-uw-styling-context="true"> (60 Seats)</strong></p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="4" valign="top" width="333">
                <p><strong data-uw-styling-context="true"> Computer Hardware Engineering </strong></p>
              </td>
              <td style="border-color: #d9d4d4;" valign="top" width="107">
                <p><strong data-uw-styling-context="true"> (60 Seats)</strong></p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" valign="top" width="146"> </td>
              <td style="border-color: #d9d4d4;" colspan="4" valign="top" width="333">
                <p><strong data-uw-styling-context="true"> Bio-Medical Engineering</strong></p>
              </td>
              <td style="border-color: #d9d4d4;" valign="top" width="107">
                <p><strong data-uw-styling-context="true"> (60 Seats)</strong></p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" valign="top" width="146"> </td>
              <td style="border-color: #d9d4d4;" colspan="4" valign="top" width="333">
                <p><strong data-uw-styling-context="true"> Computer Engineering</strong></p>
              </td>
              <td style="border-color: #d9d4d4;" valign="top" width="107">
                <p><strong data-uw-styling-context="true"> (60 Seats)</strong></p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="6" valign="top" width="586">
                <p> </p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="2" valign="top" width="214">
                <p data-uw-styling-context="true">IHRD Courses</p>
              </td>
              <td style="border-color: #d9d4d4;" colspan="4" valign="top" width="372">
                <p data-uw-styling-context="true"> DCA, PGDCA</p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="6" valign="top" width="586">
                <p> </p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="2" valign="top" width="214">
                <p data-uw-styling-context="true">Nearest Railway station</p>
              </td>
              <td style="border-color: #d9d4d4;" valign="top" width="22">
                <p align="center" data-uw-styling-context="true">:</p>
              </td>
              <td style="border-color: #d9d4d4;" colspan="3" valign="top" width="350">
                <p data-uw-styling-context="true"> Irinjalakkuda</p>
              </td>
            </tr>
            <tr style="border-color: #d9d4d4;">
              <td style="border-color: #d9d4d4;" colspan="2" valign="top" width="214">
                <p data-uw-styling-context="true">Nearest Bus Station</p>
              </td>
              <td style="border-color: #d9d4d4;" valign="top" width="22">
                <p align="center" data-uw-styling-context="true">:</p>
              </td>
              <td style="border-color: #d9d4d4;" colspan="3" valign="top" width="350">
                <p data-uw-styling-context="true"> Kallettumkara</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  </div>
  </div>
  </div>
  </div>
  </div>
  <script src="script.js">
  </script>
</body>

</html>