<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css"/>
    <link rel="stylesheet" href="../styles/gallery.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.js" ></script>
    <title>Gallery</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary position-sticky top-0">
    <div class="container-fluid">
      <a class="navbar-brand text-light">Profile <i class="fa-solid fa-user-tie"></i> </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link text-light" aria-current="page" href="../index.html">Home</a>
          <a class="nav-link text-light" href="gallery.html">Gallery</a>
          <a class="nav-link text-light" href="update.html">Update details</a>
          <a class="nav-link text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Log out</a>
        </div>
      </div>
  </nav>

<!-- Gallery -->
<!-- <div class="row mx-5 mt-4">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
     image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
   image      
   class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
  
</div> -->
<div id="root"></div>
<!-- Gallery -->


<script type="module" src="../script/galary.js"></script>
</body>
</html>