<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css"/>
    <link rel="stylesheet" href="../styles/gallery.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.js" ></script>
    <title>Gallery</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav" style="position: fixed; background-color: rgb(176, 226, 255);opacity: 0.7;">

    <div class="container px-4 px-lg-5">
      <a class="navbar-brand text-light" href="#page-top"><img src="/client/img/logo.png" alt=""></a>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <a class="navbar-brand text-dark-emphasis" href="/client/index.html">Home</a>
      <div  class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a 
              class="nav-link text-dark-emphasis"
              href="/client/components/about.html"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-dark-emphasis"
              href="/client/components/gallery.html"
              >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-dark-emphasis"
              href="/client/components/contact.html"
              >contact</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-dark-emphasis"
              id="navbarDropdown"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Profile</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="components/principal.html"
                  >principal</a
                >
              </li>

              <li>
                <a
                  class="dropdown-item"
                  href="/client/components/admission.html"
                  >Admission</a
                >
              </li>

              <li>
                <a class="dropdown-item" href="./components/Management.html"
                  >Management</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-dark-emphasis"
              id="navbarDropdown"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Login</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="components/login.html"
                  >Student login</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/client/components/admin.html">Admin login</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Gallery -->
<!-- <div class="row mx-5 mt-4">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
     image
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
   image      
   class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
  
</div> -->
<div id="root"></div>
<!-- Gallery -->


<script type="module" src="../script/galary.js"></script>
</body>
</html>