<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/about.css" />
    <link rel="stylesheet" href="../index.css" />
    <script src="../bootstrap/js/bootstrap.bundle.js"></script>
    <title>Document</title>
  </head>

  <body>
    <nav
      class="navbar py-5 navbar-expand-lg navbar-light fixed-top"
      id="mainNav"
      style="position: fixed; background-color: rgba(176, 226, 255, 0.7)"
    >
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-light" href="#page-top"
          ><img src="/client/img/logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand text-light" href="/client/index.html">Home</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link text-light"
                href="/client/components/about.html"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-light"
                href="/client/components/gallery.html"
                >Gallery</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-light"
                href="/client/components/contact.html"
                >contact</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Profile</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="components/principal.html"
                    >principal</a
                  >
                </li>

                <li>
                  <a
                    class="dropdown-item"
                    href="/client/components/admission.html"
                    >Admission</a
                  >
                </li>

                <li>
                  <a class="dropdown-item" href="/client/components/"
                    >Management</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Login</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="components/login.html"
                    >Student login</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Teachers login</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div
        class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center"
      >
        <div class="d-flex justify-content-center">
          <div class="text-center">
            <h1 class="mx-auto my-0 text-uppercase">K K M M P T C</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Principal</h2>
          </div>
        </div>
      </div>
    </header>
    <div class="mx-5 px-4 mt-4 bg-primay">
    <div class="row-cols-2">
     <p>
      Smt.Sheeja P R<br>
      Principal<br>
      K.Karunakaran Memorial Model Polytechnic College  Mala,<br>
      Kallettumkara P.O., Thrissur District<br>
      Pin – 680 683<br>
      Phone   : 0480-2720746, 8547005080
     </p>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="../script/script.js"></script>
  </body>
</html>
