#root{

}

.innerImage{
    width: 100%;
    height: 100%;
}

a[class="nav-link text-light"]{
    cursor: pointer;
    transition: 1s;
   }
   
   a[class="nav-link text-light"]:hover{
       transform: scale(1.1);
   }